{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock %}


<!--  <article class="post">
        <h2><a href="">Comfy corner</a></h2>
        <time>published: 18.10.2022, 20:56</time>
        <p>what' sthe nearest place to meet beautiful ladys.hello my name is clifford.</p>
    </article> -->